* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .headerWrapper {
  width: 100%;
  background: grey;
  height: 75px;
  align-items: center;
} */

.footerWrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: grey;
  height: 75px;
}

main {
}
